#tab {
    list-style: none;
    display: flex;
    margin: 0;
}

#tab li {
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}

#tab li a {
    text-decoration: none;
    margin: 0 5px;
}

/***********本の情報の大枠************/

td {
    width: 60%;
}

.btitle {
    text-align: center;
    font-weight: bolder;
}

.btitle a{
    text-decoration: none;
}


.btitle a:link,
.btitle a:visited,
.btitle a:hover,
.btitle a:active {
    color: black;
}

.delete{
    margin: auto;
}
.info {
    overflow: hidden;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}
.description {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.info p{
    justify-content: space-around;
    display: flex;
}
.item {
    justify-content: center;
    overflow: hidden;
    display: flex;
    padding: 0% 10%;
}
.btitle,.info,.qty,.price{
    margin: auto;
}