

td{
  width: 60%;
}

/*header*/
#top{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
#right{
  margin-left: auto;
}
#title{
  margin:10px 30px;
}
#subtitle{
  margin: 0px 40px;
}
#cart,#rogin{
  margin: 10px;
  float: right;
}

/*main*/
main{
  width: 80%;
  margin:0% 10%;
}

HTML CSSResult Skip Results Iframe
EDIT ON


/*タブ切り替え全体のスタイル*/
.tab {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float:left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}



/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;

}


/*選択されているタブのコンテンツのみを表示*/
#buy:checked ~ #buy_content,
#reserve:checked ~ #reserve_content,
#rental:checked ~ #rental_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tab input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}


.product{
  display: flex;
  vertical-align: middle;
}

 .product .image{
  width:auto;
  height:auto;
  margin:0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.checkbox{
  display: flex;
  align-items: center;
  transform: scale(2.0);
  margin-right: 2%;
}


.product .text{
  margin: 0 0 0 20px;
  padding: 0;
}

.product,.mainlight,.sublinght{
  margin: 0 0 0 20px;
  padding: 0;
}

.product .title1{
  margin: 0;
  padding: 0;
  font-weight:bolder;
  font-size: 300%;
}
.mainlight{
  position: relative;
}

.text{
  position: absolute;
  bottom: 0;
  margin: 0;
}

.info,.info2{
  height: 400px;
  padding: 5% 5%;
  overflow: hidden;
  display: table-row;
  justify-content: space-between;
  text-align: left;
}
.info{
  font-size: 200%;
}
.info2{
  font-size: 100%;
}

.subtitle1{
  margin: 0;
  padding: 0;
  font-size: 300%;

}



