/*header*/
#top{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#right{
    margin-left: auto;
}
#title{
    margin:10px 30px;
}
#top a{
    text-decoration: none;
}
#top a:link,#top a:visited,#top a:hover,#top a:active{
    color: black;
}
#subtitle{
    margin: 0px 40px;
}
#cart,#rogin{
    margin: 10px;
    float: right;
}

/*main*/
main{
    width: 80%;
    margin:0% 10%;
}