
.detal{
    display:flex;
    align-items: center;
    margin: 10px;
}

.bookOf div{
    max-width: 810px;
    text-align: center;
}

.but{
    display:flex;
    
}
.buybutton{
    text-align: center;
}