.item{
    justify-content: center;
    overflow: hidden;
    display: flex;
}
td{
    width: 60%;
}
.btitle{
    text-align: center;
    margin: auto;
}
.mainInfo,.subInfo{
    padding: 5% 5%;
    margin:auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.mainInfo p{
    margin:0px 20px;
}
.subInfo p{
    margin:0px 10px;
}
b{
    font-size: 25px;
}
.description{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.mottomiru{
    text-align: right;
}
.float{
    display: flex;
}
.float select{
    margin-left: auto;
    height: min-content;
    width: 40%;
    text-align: center;
    margin: auto;
}