.btn{
  width: 75px;
  height: 30px;
  text-align: center;
  padding: 10px 30px;
  margin: 10px 50px;
  background-color: PaleTurquoise;
  text-decoration: none;
  display: block;
  color: black;
  border-bottom: 3px solid CadetBlue;
}
.fl{
  display: flex;
  flex-flow: nowrap;
}