@charset "UTF-8";
body {
    box-sizing: border-box;
}

.result {
    display: flex;
    margin: 20px 165px;
    align-items: center;
}

.list1 {
    margin: 0px 50px;
}

.list2 {
    margin-left: 50px;
    justify-content: center;
}


/*タブの設定*/

.bi {
    display: flex;
}

.tab {
    position: relative;
    width: 170px;
    height: 170px;
    background-color: antiquewhite;
    border: 1px solid;
    margin: 0px 20px;
}

.tab a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: large;
    text-decoration: none;
    color: black;
}

.tab a.s_none {
    position: absolute;
    top: 70px;
    text-align: center;
    font-size: x-large;
}

.tax {
    position: relative;
    text-align: right;
    font-size: large;
    margin: 0px;
}

.price {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.cart {
    text-align: center;
    bottom: auto;
}

.b_name {
    margin: 10px 20px;
}

.other {
    display: flex;
    margin: 10px 20px;
}

.title {
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.author {
    margin: 0px 20px 0px 0px;
}

.pub,
.date,
.tab,
.img {
    margin: 0px 20px;
}

.thum {
    width: 200px;
    height: 250px;
}

.a:link,
a:link:active {
    color: blue;
}

.tab a:link:hover,
.tab a:visited:hover {
    color: blue;
}

.tab a:link:hover {
    color: blue;
}