/*main*/
.mottomiru{
    text-decoration: none;
}
.RankAndNew{
    justify-content: center;
    overflow: hidden;
    display: flex;
}
.Rank,.New{
    float: left;
    padding: 20px 60px;
    text-align: left;
}
li{
    font-size: 35px;
}

li a {
    text-decoration: none;
}

li a:link,
li a:visited,
li a:hover,
li a:active {
    color: black;
}
