    @charset "UTF-8";
    h3 {
        text-align: center;
    }
    
    body {
        box-sizing: border-box;
    }
    
    table {
        width: 100%;
    }
    
    .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .b_thum {
        margin: 0px 20px 0px 80px;
    }
    
    .thum {
        width: 160px;
        height: 200px;
    }
    
    .b_name {
        font-size: x-large;
        font-weight: bold;
        margin: 0px 70px;
    }
    
    .title {
        text-decoration: none;
    }
    
    .b_price {
        font-size: x-large;
        margin: 0px 70px;
    }
    
    .sp {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0px 20px;
    }
    
    .amount {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }
    
    .ap {
        font-size: x-large;
        font-weight: bold;
        margin: 0px 20px;
    }
    
    .a_price {
        font-size: x-large;
        font-weight: bold;
    }
    
    .cp {
        justify-content: center;
        text-align: right;
    }