@charset "UTF-8";

main{
    box-sizing: border-box;
    justify-content: center;
}
.bp{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.img{
    display: block;
    margin: auto ;
}

